{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('about') }}">Chi siamo</a>
</li>
{% endblock %}

{% block content %}
<main class="row mt-4">
    <aside class="col-xl-3 ps-xl-4">
    <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-group flex-xl-column flex-row justify-content-between">
              <li class="list-group-item mt-xl-2 mb-xl-2 border-0">
                <a href="#" title="Post di oggi">Oggi</a>
              </li>
              <li class="list-group-item mt-xl-2 mb-xl-2 border-0">
                <a href="#" title="Post di questa settimana">Questa settimana</a>
              </li>
              <li class="list-group-item mt-xl-2 mb-xl-2 border-0">
                <a href="#" title="Post di questo mese">Questo mese</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    


    <article class="col-xl-9">
        <ul class="list-group pe-2">
            {% for post in post_list %}
            <li class="list-group-item m-3 border">
                <div class="row">
                    <div class="col-xl-4 col-md-6 ps-auto">
                        <img class="img-fluid w-100" src= "{{ url_for('static', filename = post.pic) }}" alt="Immagine post">
                    </div>
                    <section class="col">
                        <article class="row">
                            <img class="col-xl-1 col-2 img-fluid rounded-cicle" src="{{ url_for('static', filename = post.propic) }}" alt="Foto profilo dell'utente">
                            <em class="col-xl-9 col-7 fw-lighter pt-2">@{{ post.username |e }}</em>
                            <em class="col"> {{ post.date |e }}</em>
                        </article>
                    
                        <main class="pt-3 pb-3">{{ post.text |e }}</main>
                </section>
                </div>
            </li>
            {% endfor %}
        </ul>
    </article>
</main>

<div class="d-flex justify-content-end position-fixed fixed-bottom p-5">
    <button class="rounded-circle d-inline-flex text-white bg-success justify-content-center border-0 p-auto align-items-center" style="width: 60px; height: 60px;">
        <p class="fs-1 m-auto">+</p>
    </button>
</div> 
{% endblock %}